body {
    width: 960px;
    margin: 50px auto;
    font-family: sans-serif;
    background-color: palegoldenrod;
}
header {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: center;
    clear: center;
    padding: 10px 0 10px 0;
}
nav {
    float: left;
    clear: left;
    padding: 20px 0 20px 0;
}
a {
    text-transform: capitalize;
    float: left;
    clear: left;
    width: 70%;
    height: 70px;
    padding: 2em;

}
section {
    float: left;
    clear: left;
    width: 250px;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    margin-left: 16px;
}

aside {
    text-transform:initial;
    float: right;
    clear: right;
    width: 360px;
    padding: 30px 0 0 0;
    box-sizing: border-box;

}
img { 
    margin: auto;
    float: right;
    clear: right;
    width: 25vw;
}
 table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: center;
}

td {
    border-collapse: collapse;
    border-style:  solid;
    border-color: black;
    padding: 12px;
}
th {
    border-style:  solid;
    border-color:black;
    color:black;
    text-align: center;
    text-transform: uppercase;
    padding: 18px;

}